@model VarcalSysCliente.Web.Models.ClienteViewModel

@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>
<div ng-controller="clienteController">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="PessoaTipo" class="control-label col-md-2">Plano Host</label>
                <div class="col-md-10">
                    <select ng-model="pessoaTipo" ng-options="p.Descricao for p in pessoaTipoList" class="form-control">
                        <option value="">-- Selecione Tipo Pessoa --</option>
                    </select>
                    <input id="PessoaTipo" type="hidden" name="PessoaTipo" value="{{pessoaTipo.Id}}"/>
                    @Html.ValidationMessageFor(model => model.PessoaTipo, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NomeRazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeRazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeRazaoSocial, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CpfCnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CpfCnpj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CpfCnpj, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RgInscEst, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RgInscEst, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.RgInscEst, "", new {@class = "text-danger"})
                </div>
            </div>
            <div ng-show="pessoaTipo.Id==2">
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeResponsavel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeResponsavel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeResponsavel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="Uf" class="control-label col-md-2">UF</label>
                <div class="col-md-10">
                    <select id="Uf" ng-model="estado" ng-options="e.id as e.uf for e in estados " class="form-control">
                        <option value="">-- Selecione o Estado --</option>
                    </select>
                    <input type="hidden" name="Uf" value="{{estado}}" />
                    @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailCobranca, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailCobranca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailCobranca, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
                <script src="~/Scripts/App/appModule.js"></script>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dominio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dominio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dominio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="PlanoHostId" class="control-label col-md-2">Plano Host</label>
                <div class="col-md-10">
                    <select ng-model="planoHost" ng-options="p.Descricao for p in planosHost" class="form-control">
                        <option value="">-- Selecione o Plano --</option>
                    </select>
                    <input id="PlanoHostId" type="hidden" name="PlanoHostId" value="{{planoHost.Id}}" />
                    @Html.ValidationMessageFor(model => model.PlanoHostId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" ng-show="planoHost.Id>0">
                <label class="control-label col-md-2">Valor</label>
                <div class="col-md-10">
                    <input class="form-control" readonly="readonly" value="{{planoHost.Valor}}" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmaSenha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar" class="btn btn-default"/>
                    <a href="/Home/Index" class="btn btn-default">Voltar</a>                   
                </div>
            </div>
        </div>
    }
</div>
<div>
    
</div>



@section Scripts{
    <script src="/Scripts/App/clienteController.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

